main {
  width: 2110vw;
  height: 100vh;
  display: flex;
  background-color: black;
}

section {
  width: 120vw;
  height: 100vh;
  flex: 1;
  background-color: #000;
  background-image: url('finalpics/wc1930uruguay-urguay\ 1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}

/* section {
  width: 100vw;
  height: 100vh;
  flex: 1;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 80%;
  padding: 40px;
} */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  margin: 0;
  background-color: #000;
}

h1 {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  text-align: left;
  color: #dfc53e;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 75px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 10px;
}
h3 {
  font-size: 24px;
  font-style: normal;
  margin: 10px;
}
.year1 {
  position: absolute;
  top: 25%;
  right: 58%;
}

.year2 {
  position: absolute;
  top: -15%;
  right: 10%;
}

.year3 {
  position: absolute;
  top: 20%;
  right: 9%;
}

.year4 {
  position: absolute;
  top: -15%;
  left: 5%;
}

.year5 {
  position: absolute;
  top: 25%;
  right: 10%;
}

.template1 {
  position: relative;
  background-size: 65%;
  background-position: 90%, 50%;
}
.content-box {
  background-color: #dfc53e;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year1-header {
  top: 5vh;
  left: 25vh;
}
.year1-content {
  bottom: 5vh;
  left: 5vh;
}

.template2 {
  position: relative;
  background-size: 65%;
  background-position: 10%, 10%;
}
.content-box2 {
  background-color: #dfc53e;
  width: 40%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year2-header {
  top: 60vh;
  left: 5vh;
}
.year2-content {
  bottom: 25vh;
  left: 98vh;
}

.template3 {
  position: relative;
  background-size: 65%;
  background-position:top;
}
.content-box3 {
  background-color: #dfc53e;
  width: 40%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year3-header {
  top: 60vh;
  left: 25vh;
}
.year3-content {
  bottom: 75vh;
  left: 100vh;
}

.template4 {
  position: relative;
  background-size: 60%;
  background-position: 40%, 10%;
}
.content-box4 {
  background-color: #dfc53e;
  width: 35%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year4-header {
  bottom: 20vh;
  left: 20vh;
}
.year4-content {
  bottom: 15vh;
  right: 20vh;
}


.template5 {
  position: relative;
  background-size: 60%;
  background-position: 15%;
}
.content-box5 {
  background-color: #dfc53e;
  width: 35%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year5-header {
  top: 5vh;
  right: 20vh;
}
.year5-content {
  bottom: 8vh;
  right: 20vh;
}


.template6 {
  position: relative;
  background-size: 62%;
  background-position: 62%;
}
.content-box6 {
  background-color: #dfc53e;
  width: 35%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year6-header {
  top: 10vh;
  left: 10vh;
}
.year6-content {
  bottom: 7vh;
  right: 60vh;
}


.template7 {
  position: relative;
  background-size: 55%;
  background-position: 20%;
}
.content-box7 {
  background-color: #dfc53e;
  width: 35%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year7-header {
  bottom: 10vh;
  right: 35vh;
}
.year7-content {
  top: 10vh;
  right: 35vh;
}


#p1930 {
  background-image: url('finalpics/wc1930uruguay-uruguay.png');
}
#p1934 {
  background-image: url('finalpics/wc1934italy-italy.png');
}
#p1938 {
  background-image: url('finalpics/wc1938france-italy.png');
}
#p1950 {
  background-image: url('finalpics/wc1950brazil-uruguay.png');
}
#p1954 {
  background-image: url('finalpics/wc1954switzerland-westgermany.png');
}
#p1958 {
  background-image: url('finalpics/wc1958sweden-brazil.png');
}
#p1962 {
  background-image: url('finalpics/wc1962chile-brazil.png');
}
#p1966 {
  background-image: url('finalpics/wc1966england-england.png');
}
#p1970 {
  background-image: url('finalpics/wc1970mexico-brazil.png');
}
#p1974 {
  background-image: url('finalpics/wc1974westgermany-wgermany.png');
}
#p1978 {
  background-image: url('finalpics/wc1978argentina-argentina.png');
}
#p1982 {
  background-image: url('finalpics/wc1982spain-italy.png');
}
#p1986 {
  background-image: url('finalpics/wc1986mexico-argentina.png');
}
#p1990 {
  background-image: url('finalpics/wc1990italy-germany.png');
}
#p1994 {
  background-image: url('finalpics/wc1994usa-brazil.png');
}
#p1998 {
  background-image: url('finalpics/wc1998france-france.png');
}
#p2002 {
  background-image: url('finalpics/wc2002japanskorea-brazil.png');
}
#p2006 {
  background-image: url('finalpics/wc2006germany-italy.png');
}
#p2010 {
  background-image: url('finalpics/wc2010safrica-spain.png');
}
#p2014 {
  background-image: url('finalpics/wc2014brazil-germany.png');
}
#p2018 {
  background-image: url('finalpics/wc2018russia-france.png');
}

.ball {
  transition:800ms;
  height:80px;
  width:80px;
  position: absolute;
  top: 0;
  left:0;
}
.hover-circle {
  border-radius: 50%;
  background-color: #dfc53e;
  height:80px;
  width:80px;
  position: absolute;
  bottom:10vh;
  left:12vw;
  transition: all 800ms ease-in;
}
.hover-circle .content {
  opacity:0;
  transition: all 2s 1s;
  padding: 0 10px;
}
.content.show {opacity:1;}
.hover-circle.content-box {
  width: 500px;
  height: 80px;
  border-radius: 0;
}

.hover-circle2 {
  border-radius: 50%;
  background-color: #dfc53e;
  height:80px;
  width:80px;
  position: absolute;
  bottom:25vh;
  right:15vw;
  transition: all 800ms ease-in;
}
.hover-circle2 .content {
  opacity:0;
  transition: all 2s 1s;
  padding: 0 10px;
}
.content.show {opacity:1;}
.hover-circle2.content-box {
  width: 500px;
  height: 80px;
  border-radius: 0;
}
/* section:nth-child(even) {
  background-color: aqua;
}
section:nth-child(odd) {
  background-color: red;
} */

.theBall, .theBall-outer {
	mix-blend-mode: exclusion;
    /* also: color-burn, color-dodge, saturation, difference*/
	width: 150px;
	height: 150px;
}
.theBall-outer {
	position: fixed;
	top: -100px;
	left: -100px;
	z-index: 5000;
	pointer-events: none!important;
}
.theBall {
	position: absolute;
	background-color: #dcf80d;
	border-radius: 50%;
	-webkit-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
	-moz-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
	-ms-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
	-o-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
	transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
	transform-origin: center center;
}
.dark_page .theBall,
.coloring .theBall {
	background-color: blue;
}
.zooming.theBall {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}
::selection {
    background-color: green;
    color: #fff;
}