main {
  width: 2000vw;
  height: 100vh;
  display: flex;
  background-color: black;
}

section {
  width: 120vw;
  height: 100vh;
  flex: 1;
  background-color: #000;
  background-image: url('finalpics/wc1930uruguay-urguay\ 1.png');
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
}

/* section {
  width: 100vw;
  height: 100vh;
  flex: 1;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 80%;
  padding: 40px;
} */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  margin: 0;
}

h1 {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 400px;
  text-align: left;
  color: #dfc53e;
  text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 10px;
}
h3 {
  font-size: 24px;
  font-style: normal;
  margin: 10px;
}
.year1 {
  position: absolute;
  top: 5%;
  right: 35%;
}

.year2 {
  position: absolute;
  top: -25%;
  right: 7%;
}

.year3 {
  position: absolute;
  top: 0%;
  right: 7%;
}

.year4 {
  position: absolute;
  top: -25%;
  right: 40%;
}

.year5 {
  position: absolute;
  top: 5%;
  right: 35%;
}

.template1 {
  position: relative;
  background-size: 65%;
  background-position: 90%, 50%;
}

.content-box {
  background-color: #dfc53e;
  padding: 10px;
  display: inline-block;
  position: absolute;
  filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.25));
}
.year1-header {
  top: 5vh;
  left: 5vh;
}
.year1-content {
  bottom: 5vh;
  left: 5vh;
}

.template2 {
  position: relative;
  background-size: 65%;
  background-position: 10%, 10%;
}

.template3 {
  position: relative;
  background-size: 65%;
  background-position: 40%, 10%;
}

.template4 {
  position: relative;
  background-size: 65%;
  background-position: 40%, 10%;
}

.template5 {
  position: relative;
  background-size: 65%;
  background-position: 40%, 10%;
}

.template6 {
  position: relative;
  background-size: 65%;
  background-position: 40%, 10%;
}

.template7 {
  position: relative;
  background-size: 65%;
  background-position: 40%, 10%;
}

#p1930 {
  background-image: url('finalpics/wc1930uruguay-uruguay.png');
}
#p1934 {
  background-image: url('finalpics/wc1934italy-italy.png');
  background-size: 60%;
  background-position: 10%, 10%;
}
#p1938 {
  background-image: url('finalpics/wc1938france-italy.png');
  background-size: 60%;
  background-position: 10%, 10%;
}
#p1950 {
  background-image: url('finalpics/wc1950brazil-uruguay.png');
  background-size: 60%;
  background-position: 10%, 10%;
}
#p1954 {
  background-image: url('finalpics/wc1954switzerland-westgermany.png');
}
#p1958 {
  background-image: url('finalpics/wc1958sweden-brazil.png');
}
#p1962 {
  background-image: url('finalpics/wc1962chile-brazil.png');
}
#p1966 {
  background-image: url('finalpics/wc1966england-england.png');
}
#p1970 {
  background-image: url('finalpics/wc1970mexico-brazil.png');
}
#p1974 {
  background-image: url('finalpics/wc1974westgermany-wgermany.png');
}
#p1978 {
  background-image: url('finalpics/wc1978argentina-argentina.png');
}
#p1982 {
  background-image: url('finalpics/wc1982spain-italy.png');
}
#p1986 {
  background-image: url('finalpics/wc1986mexico-argentina.png');
}
#p1990 {
  background-image: url('finalpics/wc1990italy-germany.png');
}
#p1994 {
  background-image: url('finalpics/wc1994usa-brazil.png');
}
#p1998 {
  background-image: url('finalpics/wc1998france-france.png');
}
#p2002 {
  background-image: url('finalpics/wc2002japanskorea-brazil.png');
}
#p2006 {
  background-image: url('finalpics/wc2006germany-italy.png');
}
#p2010 {
  background-image: url('finalpics/wc2010safrica-spain.png');
}
#p2014 {
  background-image: url('finalpics/wc2014brazil-germany.png');
}
#p2018 {
  background-image: url('finalpics/wc2018russia-france.png');
}

section:nth-child(even) {
  background-color: aqua;
}
section:nth-child(odd) {
  background-color: red;
}

.template3 .year1938-header {
  position: absolute;
  top: 5vh;
  left: 5vh;
}
.template3 .year1938-content {
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  width: 60vh;
}
